.secrets-new {
  .link-modal {
    &--hidden {
      display: none;
    }

    &__backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--light-yellow);
    }

    &__url-container {
      box-sizing: border-box;
      position: relative;
      border-radius: 1em;
      width: 100%;
      padding: 1em;
      background-color: rgba(var(--secondary-rgb), 0.25);
    }
  }

  .secret__submit,
  .link-modal__copy {
    float: right;
  }
}
