.secrets-show {
  .secret__success,
  .secret__failure {
    display: none;
  }

  &--success,
  &--failure {
    .secret__loading {
      display: none;
    }
  }

  &--success {
    .secret__success {
      display: block;
    }
  }

  &--failure {
    .secret__failure {
      display: block;
    }
  }

  .secret__copy {
    float: right;
  }
}
