.secrets-new {
  .secret__link {
    display: none;
  }

  &--link {
    .secret__form {
      display: none;
    }

    .secret__link {
      display: block;
    }
  }

  .modal__url-container {
    box-sizing: border-box;
    position: relative;
    border-radius: 1em;
    width: 100%;
    padding: 1em;
    background-color: rgba(var(--secondary-rgb), 0.25);
  }

  .secret__submit,
  .modal__copy {
    float: right;
  }
}
