<form>
  <textarea name="secret"></textarea>

  <button>Create secret</button>

</form>

<div class="link link--hidden">
  Here's the link to your secret. Remember, it can only be opened once!

  <input type="text" class="link__url" readonly />
</div>

<%= javascript_pack_tag "secrets-new" %>
