<h1>Share your secret</h1>

<p>Your secure link lasts for 24 hours, and can only be used once</p>

<form>
  <div class="secret__container">
    <textarea class="secret__input" placeholder="Write your secret here..." rows="1"></textarea>
  </div>

  <button class="secret__submit">Create link</button>

</form>

<div class="link-modal link-modal--hidden">
  <div class="link-modal__backdrop">
    <div class="container">
      <h1>Link generated</h1>

      <p>Remember! It can only be used once</p>

      <div class="link-modal__url-container">
        <input type="text" class="link-modal__url" readonly />
      </div>

      <button class="link-modal__copy">Copy to clipboard</button>
    </div>
  </div>
</div>

<%= javascript_pack_tag "secrets-new" %>
