<div class="secret__form">
  <h1>Share your secret</h1>

  <p>Your secure link lasts for 24 hours, and can only be used once</p>

  <form>
    <div class="secret__container">
      <textarea name="secret" class="secret__input" placeholder="Write your secret here..." rows="1" autofocus></textarea>
    </div>

    <button class="secret__submit button--primary float-right">Create link</button>

  </form>
</div>

<div class="secret__link">
  <h1>Link generated</h1>

  <p>Remember! It can only be used once</p>

  <div class="modal__url-container">
    <input type="text" class="modal__url" readonly>
  </div>

  <button class="modal__copy button--primary float-right">Copy to clipboard</button>
  <button class="modal__back float-right">Back</button>
</div>

<%= javascript_pack_tag "secrets-new" %>
