<div class="secret__loading">
  <h1>Loading your secret...</h1>
</div>

<div class="secret__success">
  <h1>Here is your secret</h1>

  <p>The link will NOT work again, so don't close it too early!</p>

  <div class="secret__container">
    <textarea readonly data-key="<%= params[:key] %>"></textarea>
  </div>

  <button class="secret__copy">Copy to clipboard</button>
</div>

<div class="secret__failure">
  <h1>Your secret is gone...</h1>
  <p>The link is either invalid or has already been consumed</p>
</div>

<%= javascript_pack_tag "secrets-show" %>
