name: CI

on: [push]

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - name: set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Rubocop
        run: bin/rubocop --format github
  brakeman:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - name: set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Brakeman
        run: bin/brakeman
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"
          cache: "npm"
      - name: npm
        run: npm ci
      - name: lint
        run: npm run lint
  stylelint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"
          cache: "npm"
      - name: npm
        run: npm ci
      - name: stylelint
        run: npx stylelint "app/javascript/**/*.scss"
  erb-lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - name: set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: erb-lint
        run: bin/erb_lint --lint-all
  jest:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"
          cache: "npm"
      - name: npm
        run: npm ci
      - name: test
        run: npm test
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"
          cache: "npm"
      - name: npm
        run: npm ci
      - name: prettier
        run: bin/prettier --check
  assets-precompile:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: production
      HEROKU_APP_NAME: dummy
      REDIS_URL: dummy
      SECRET_KEY_BASE: dummy

    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - name: set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: install required apt packages
        run: sudo apt-get -y install libpq-dev
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"
          cache: "npm"
      - name: bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: npm
        run: npm ci
      - name: run bin/rails assets:precompile
        run: bin/rails assets:precompile

  rspec:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test

    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - name: set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"
          cache: "npm"
      - name: bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: npm
        run: npm ci
      - name: run bin/shakapacker
        run: bin/shakapacker
      - name: rspec
        run: bundle exec rspec
      - name: Archive capybara artifacts
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: capybara
          path: tmp/capybara/
